option_settings:
  aws:elasticbeanstalk:container:nodejs: 
    NodeCommand: "npm start"
    ProxyServer: apache
    GzipCompression: true
  aws:elasticbeanstalk:container:nodejs:staticfiles:
    
    /: /var/app/staging/static/index.html
    /media: /var/app/staging/static/media
    /css: /var/app/staging/static/css
    /js: /var/app/staging/static/js
